<p id="notice"><%= notice %></p>

<h1>Listing Taks</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @taks.each do |tak| %>
      <tr>
        <td><%= tak.content %></td>
        <td><%= link_to 'Show', tak %></td>
        <td><%= link_to 'Edit', edit_tak_path(tak) %></td>
        <td><%= link_to 'Destroy', tak, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tak', new_tak_path %>
